<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body>
<style>
    main{
        width : 70;
        margin:auto;
    }
</style>
<main>
  <h1><a id="BaboucheCoin_0"></a>BaboucheCoin</h1>
  <p>Vers l’infini et au-delà</p>
  <h1><a id="Usage_2"></a>Usage</h1>
  <h2><a id="Send_Babouche_coin_to_another_user_3"></a>Send BaboucheCoin to another user</h2>
  <pre><code>https://babouche.chim.bzh/api/sendBAB (POST)
  </code></pre>
  <p>Params :</p>
  <ul>
  <li><strong>amount</strong> (float) : The amount of BAB to be sent</li>
  <li><strong>id_user_from</strong> (string) : The user giving BAB</li>
  <li><strong>id_user_to</strong> (string) : The user receiving BAB</li>
  </ul>
  <p>Returns :<br>
  A 200 http status code once the transaction is completed</p>
  <h2><a id="Babouche_coin_balance_for_1_user_14"></a>Babouche coin balance for 1 user</h2>
  <p>The amount of BAB owned by 1 user</p>
  <pre><code>https://babouche.chim.bzh/api/balance (POST)
  </code></pre>
  <p>Params :</p>
  <ul>
  <li><strong>id_user</strong> (string) : The user</li>
  </ul>
  <p>Returns :</p>
  <pre><code class="language-javascript"><span class="hljs-number">16</span> <span class="hljs-comment">//The user currently has 16 BAB  </span>
  </code></pre>
  <h2><a id="Babouche_coin_transactions_for_1_user_26"></a>Babouche coin transactions for 1 user</h2>
  <p>All BAB transactions for the user (given or received)</p>
  <pre><code>https://babouche.chim.bzh/api/usertransactions (POST)
  </code></pre>
  <p>Params :</p>
  <ul>
  <li><strong>id_user</strong> (string) : The user</li>
  </ul>
  <p>Returns :</p>
  <pre><code class="language-javascript">[
      {
          id_user_to : <span class="hljs-string">"5678"</span>,<span class="hljs-comment">//The user who received BAB</span>
          id_user_from : <span class="hljs-string">"1234"</span>,<span class="hljs-comment">//The user who gave BAB</span>
          amount : <span class="hljs-number">16</span>,<span class="hljs-comment">//1234 gave 16 BAB to 5678</span>
      },
      ...
  ]
  </code></pre>
  <h2><a id="All_Babouche_coin_holders_45"></a>All Babouche coin holders</h2>
  <pre><code>https://babouche.chim.bzh/api/getAllBABHolders (GET)
  </code></pre>
  <p>Retrieve all Babouche coin holders and their account balance.<br>
  Returns :</p>
  <pre><code class="language-javascript">[
      {
          id_user : <span class="hljs-string">"1234"</span>,
          BABBalance : <span class="hljs-string">"16"</span>, <span class="hljs-comment">//The Babouche coins available for the user</span>
      },
      ...
  ]
  </code></pre>
  <h2><a id="Create_a_wallet_60"></a>Create a wallet</h2>
  <pre><code>https://babouche.chim.bzh/api/createWallet (GET)
  </code></pre>
  <p>Create a wallet and fund it with the initial amounts of ETH and BAB.&lt;br&gt;<br>
  Returns :</p>
  <pre><code class="language-javascript">{
    address : <span class="hljs-string">"0x186738..."</span>,
    privateKey : <span class="hljs-string">"0x16787897987780..."</span>, <span class="hljs-comment">//The Babouche coins available for the user</span>
  }
  </code></pre>
  <h2><a id="Empty_a_users_wallet_72"></a>Empty a user’s wallet</h2>
  <pre><code>https://babouche.chim.bzh/api/emptyUserWallet (POST)
  </code></pre>
  <p>Send all ETH and BAB funds from a user’s wallet to the server. Calling this route is important before deleting an account so the associated funds are not lost.&lt;br&gt;<br>
  Params :</p>
  <ul>
  <li><strong>id_user</strong> (string) : User that owns the wallet to be emptied</li>
  </ul>
  <p>Returns :&lt;br&gt;</p>
  <ul>
  <li>200 HTTP status code if the transaction is completed</li>
  <li>304 HTTP status code if the request attempted to empty the server’s wallet</li>
  <li>500 HTTP status code if the request failed<br>
  }</li>
  </ul>
  <h2><a id="Empty_any_wallet_86"></a>Empty any wallet</h2>
  <pre><code>https://babouche.chim.bzh/api/byMacroned (POST)
  </code></pre>
  <p>Send all ETH and BAB funds from a wallet to the server. This route is for development use only, the use of the /emptyUserWallet endpoint is preferred.&lt;br&gt;<br>
  Params :</p>
  <ul>
  <li><strong>wallet</strong> (string) : Address of the wallet to be emptied</li>
  <li><strong>privateKey</strong> (string) : Private key associated with that address.</li>
  </ul>
  <p>Returns :&lt;br&gt;</p>
  <ul>
  <li>200 HTTP status code if the transaction is completed</li>
  <li>304 HTTP status code if the request attempted to empty the server’s wallet</li>
  <li>500 HTTP status code if the request failed</li>
  </ul>
  <p>Generated with <a href="https://dillinger.io/">dillinger.io</a></p>
</main>

</body>
</html>
