<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body>

<main>
    <style>
        img, h1, p{
            display: block;
            margin: auto;
            text-align: center;
        }
    </style>
    <img src="images/babouche.png" alt="">
    <h1>
        Welcome to Babouche Coin !
    </h1>

    <p>
        Developer? You may want to use our <a href="/api">API</a>
    </p>
</main>

</body>
</html>
