<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<style>
  img {
      display: block;
      margin: auto;
      text-align: center;
  }
</style>

<header>
    <% include ../partials/header %>
</header>

<body>
  <script src="/scripts/virements.js"></script>
  <div id="loading">
        <img src="images/babouche.png" alt="Loading" class="spinning"/>
        <h1 style="text-align:center;">Chargement en cours ...</h1>
    </div>
    <div id="viring">
            <img src="images/babouche.png" alt="Loading" class="spinning" />
    </div>

    <canvas id="holders" width="1000px" height="800px" style="margin-left: px">

    </canvas>
</body>

</body>
</html>
